@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/violet.css';
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/mauve.css';

Body{
  color: var(--violet-11);
  background: hsl(268, 100%, 92%);
}

.Input{
  color: white;
  background-color: var(--black-a5);
  box-shadow: 0 2px 10px var(--black-a7);
  border: 4px solid var(--black-a2);
}
.Input:focus {
  border: 4px dashed var(--black-a3);
}
.Input::selection {
  background-color: var(--black-a9);
  color: white;
}

.Button.theme {
  background-color: white;
  color: var(--violet-11);
  box-shadow: 0 2px 10px var(--black-a7);
}
.Button.theme:hover {
  background-color: var(--mauve-3);
}
.Button.theme:focus {
  box-shadow: 0 0 0 2px black;
}
.Button.green {
  background-color: var(--green-4);
  color: var(--green-11);
}
.Button.green:hover {
  background-color: var(--green-5);
}
.Button.green:focus {
  box-shadow: 0 0 0 2px var(--green-7);
}
.Button.red {
  background-color: var(--red-4);
  color: var(--red-11);
}
.Button.red:hover {
  background-color: var(--red-5);
}
.Button.red:focus {
  box-shadow: 0 0 0 2px var(--red-7);
}
.Button.mauve {
  background-color: var(--mauve-4);
  color: var(--mauve-11);
}
.Button.mauve:hover {
  background-color: var(--mauve-5);
}
.Button.mauve:focus {
  box-shadow: 0 0 0 2px var(--mauve-7);
}
