.users-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px,  1fr)); /* Adjust the minmax values as needed */
  grid-auto-rows: auto; /* Allows rows to size themselves based on content */
  gap:  1rem; /* Space between grid items */
  padding: 20px;
}

.user-box {
  background-color: #fff;
  border:  1px solid #ddd;
  border-radius:  4px;
  padding-top:  20px;
  /* No need to set flex-basis as grid handles it */
}
