:root {
  --background: hsl(229, 100%, 89%);
  --primary: #000080;
  --secondary: #afaff0;
  --on-hover: #bfbfe6;
  --on-active: #fcfcff;
  --on-focus: #000080;
  --element-bg: #fefeff;
  --element-border: rgb(235, 235, 247);
  --table: #e2e2ff;
  --tr-split: gray;
  --on-click-border: rgba(0, 0, 0, 0.3);
  --shadow: rgba(0, 0, 0, 0.2);
}

/* Standard Colors */

.danger-color {
  color: #ff7777;
  border-color: #ff7777;
}
.danger-color:focus {
  color: red;
  border-color: red;
}

.good-color {
  color: #119911;
  border-color: #119911;
}
.good-color:focus {
  color: #116611;
  border-color: #116611;
}

.important-color {
  color: #ffaf1b;
  border-color: #ffaf1b;
}
.important-color:focus {
  color: orange;
  border-color: orange;
}
