body {
  background: hsl(268, 100%, 91%);
}

div {
  color: var(--violet-11);
}

#tab-changer {
  background-color: var(--black-a4);
  box-shadow: 0 2px 18px var(--black-a4);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

#login-button {
  background-color: white;
  border: 4px solid var(--mauve-4);
  box-shadow: 0 2px 4px var(--black-a3);
  border-radius: 12px;
}
#login-button:hover {
  border: 4px solid var(--violet-7);
}
#login-button:active {
  background-color: var(--violet-5);
  box-shadow: 0 0 0 2px var(--black-a5);
}

.SearchInput {
  color: white;
  background-color: var(--black-a5);
  box-shadow: 0 2px 18px var(--mauve-10);
  border: 4px solid var(--black-a2);
  border-radius: 12px;
}
.SearchInput:focus {
  border: 4px dashed var(--black-a3);
}
.SearchInput::selection {
  background-color: var(--black-a5);
  color: white;
}

.Button {
  background-color: white;
  color: var(--violet-11);
  border: 4px solid var(--mauve-4);
  box-shadow: 0 2px 4px var(--black-a3);
  border-radius: 12px;
}
.Button:hover {
  border: 4px solid var(--violet-7);
}
.Button:active {
  background-color: var(--violet-5);
  box-shadow: 0 0 0 2px var(--black-a5);
}

.PageButton {
  background-color: white;
  color: var(--violet-11);
  border: 4px solid var(--mauve-4);
  box-shadow: 0 2px 4px var(--black-a3);
  border-radius: 10000px;
}
.PageButton:hover {
  border: 4px solid var(--violet-7);
}
.PageButton:active {
  background-color: var(--violet-5);
  box-shadow: 0 0 0 2px var(--black-a5);
}

.Toggle {
  background-color: white;
  border-radius: 100%;
  box-shadow: 0 2px 10px var(--black-a3);
  border: 2px solid var(--black-a5);
}
.Toggle:hover {
  background-color: var(--violet-7);
}
.Toggle:active {
  background-color: var(--violet-5);
  box-shadow: 0 0 0 2px var(--black-a5);
}

.Input {
  color: var(--violet-11);
  box-shadow: 0 0 0 1px var(--violet-7);
}
.Input:focus {
  box-shadow: 0 0 0 2px var(--violet-8);
}

.DisplayCard {
  border: 2px solid var(--violet-11);
  background-color: var(--violet-2);
  box-shadow: 0 2px 10px var(--mauve-8);
  border-radius: 12px;
}

.Scrollbar {
  background: var(--black-a3);
}
.Scrollbar:hover {
  background: var(--black-a5);
}
.ScrollbarThumb {
  background: var(--violet-11);
  border-radius: 12px;
}

/*
History
*/

.table-entry {
  background-color: var(--violet-4);
  color: var(--violet-11);
  border: 2px solid var(--violet-8);
  border-radius: 12px;
}

/*
Invoice
*/

.Table {
  background-color: var(--violet-4);
  color: var(--violet-11);
  border-radius: 12px;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid black;
  }
  th {
    padding: 0 0.5rem;
  }
  tr:last-child {
    border-bottom: none;
  }
}

/*
Tabs
*/

.TabsTrigger {
  background-color: white;
  color: var(--violet-11);
  border: 2px solid white;
  background-clip: border-box;
}
.TabsTrigger:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.TabsTrigger:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.TabsTrigger:hover {
  border: 2px solid var(--violet-8);
}
.TabsTrigger[data-state="active"] {
  color: var(--violet-11);
  border-bottom: 4px solid currentColor;
}
.TabsTrigger:active {
  box-shadow: 0 0 0 2px black;
}

/*
Switch
*/

.SwitchRoot {
  background-color: var(--violet-5);
  box-shadow: 0 2px 10px var(--mauve-8);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border: 4 solid var(--violet-11);
}
.SwitchRoot:focus {
  box-shadow: 0 0 0 2px black;
}
.SwitchRoot[data-state="checked"] {
  background-color: var(--violet-11);
}
.SwitchThumb {
  background-color: white;
}

/*
Dialog
*/
.DialogOverlay {
  background-color: var(--black-a9);
}

.DialogContent {
  background-color: white;
  box-shadow: hsl(206 22% 7% / 35%) 0 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0 10px 20px -15px;
}

.DialogTitle {
  color: var(--violet-11);
}

/*
Progress
*/


.ProgressRoot {
  overflow: hidden;
  width: 100%;
  background-size: 100% 100%;
  background: var(--violet-5);
  border-radius: 99999px;
}

.ProgressIndicator {
  overflow: hidden;
  height: 100%;
  background-size: cover;
  transition: width 1s; /* Adjust the duration as needed */
  background-color: var(--violet-11);
}

/*
Colors
*/

.Selected {
  color: var(--violet-11);
  border-color: var(--violet-11);
}

.red {
  color: red;
  border-color: red;
}

.green {
  color: green;
  border-color: green;
}

.orange {
  color: orange;
  border-color: orange;
}
