:root {
  --background: hsl(268, 100%, 91%);
  --primary: #6550b9;
  --secondary: #d4cafe;
  --on-hover: #c2b5f5;
  --on-active: #fdfcff;
  --on-focus: hsl(252, 69%, 76%);
  --element-bg: #fffeff;
  --element-border: rgb(242, 235, 247);
  --table: #f1e4ff;
  --tr-split: gray;
  --on-click-border: rgba(0, 0, 0, 0.3);
  --shadow: rgba(0, 0, 0, 0.2);
}
