@import "@radix-ui/colors/black-alpha.css";
/*add new radix-ui colors used for themes*/

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  cursor: default;
}

/* reset */
button,
fieldset,
input {
  all: unset;
}

body {
  margin: 0 0;
  height: 100vh;
}

#root {
  height: 100%;
}

.Main {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem 1rem;
  margin: 0 auto;
  height: 100%;

  @media (max-width: 768px) {
    padding: 0;
  }
}

.MainBody {
  flex-grow: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
}

/*standard*/

h1 {
  font-size: 6rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 4rem 0;
  font-weight: 500;

  @media (max-width: 768px) {
    font-size: 3rem;
    margin: 2rem 0;
  }
}

h2 {
  font-size: 4rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0.3rem 0;
  font-weight: 500;

  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

h3 {
  font-size: 2rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0.2rem 0;
  font-weight: 400;

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

a,
p,
li,
strong,
div {
  @media (max-width: 768px) {
    font-size: 0.8rem;
  }
}

svg {
  margin: 5px;
}

a,
[aria-haspopup="dialog"] {
  * {
    cursor: pointer;
  }
  cursor: pointer;
}

/* DataInfo */
#site-data-info {
  position: fixed;
  bottom: 4px;
  right: 4px;
  z-index: 1;
  padding: 6px;
  font-size: 12px;
  color: black;
  cursor: pointer;
  border-radius: 10000px;

  @media (max-width: 768px) {
    bottom: 2px;
    right: 2px;
    padding: 3px;
    font-size: 8px;
  }
}

#site-data-info:hover {
  background-color: black;
  color: white;
}

#theme-switch {
  position: fixed;
  bottom: 4px;
  left: 4px;
  z-index: 1;
  padding: 6px;
  font-size: 12px;
  color: black;
  cursor: pointer;
  border-radius: 10000px;

  @media (max-width: 768px) {
    bottom: 2px;
    left: 2px;
    padding: 3px;
    font-size: 8px;
  }
}
#theme-switch:hover {
  background-color: black;
  color: white;
}

/* Search */

#MainIcon {
  height: 5rem;
  padding: 0 1rem;
}

#main-search {
  margin: 1rem auto;
  padding: 0 1rem;
  justify-content: center;
  display: flex;
  width: 80vw;
  min-width: 10%;
  max-width: 100%;
  font-size: 2rem;
  height: 4rem;
}

/* Login */

#login {
  justify-content: right;
  flex-grow: 1;
  display: flex;
  align-items: center;
}
#login-button {
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}

/* Checkout */

#Checkout {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

#Checkout-Item {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  width: 50rem;

  @media screen and (max-height: 1500px) {
    max-width: 70vh;
  }

  @media screen and (max-height: 1200px) {
    max-width: 60vh;
  }

  @media screen and (max-height: 800px) {
    max-width: 50vh;
  }

  @media screen and (max-height: 650px) {
    max-width: 40vh;
  }
  @media (max-width: 768px) {
    font-size: 1rem;
  }
  @media screen and (max-height: 550px) {
    max-width: 30vh;
  }
}

#Checkout-Complete {
  margin: 1rem;
  width: 50vw;
  border-radius: 10000px;
}

.CheckoutCounter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 50vw;
}
.CheckoutCounter > div {
  width: 3.5rem;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 768px) {
    font-size: 2rem;
  }
}
.CheckoutCounter > Button {
  border-radius: 10000px;
}

/* UserSummary */
.UserSummary {
  max-height: 30rem;
  display: flex;
  margin: 0 auto;
  max-width: 40rem;
  width: 100%;
}
.UserSummary .Balance {
  font-size: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
  @media screen and (max-width: 350px) {
    font-size: 1rem;
  }
}

/* Tabs */

#tab-changer {
  display: flex;
  margin-bottom: 0.6rem;
  padding: 1rem;
  position: sticky;
  z-index: 1;
  top: 0;
  align-items: center;
  justify-content: left;
  width: 100%;

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 0.5rem;
  }
}

#tab-changer > img {
  padding: 0.25rem;
  height: 100%;
}

.TabsList {
  justify-content: center;
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  height: auto;
  margin: 0 0.75rem;
}

.TabsTrigger {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
.TabsTrigger * {
  cursor: pointer;
}
.TabsTrigger:active {
  position: relative;
}

/* Alignments */
.SmallGridContainer {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(14rem, 10fr)
  ); /* Adjust the minmax values as needed */
  grid-auto-rows: min-content;
  gap: 1rem;
  padding: 20px;
}

.GridContainer {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));

  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.SingleCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;

  @media (max-width: 768px) {
    padding: 0 0.8rem;
  }
}
.SingleCardContainer > .DisplayCard {
  min-width: 40rem;
  max-width: 100rem;

  @media (max-width: 768px) {
    min-width: 0rem;
    width: 100%;
  }
}

.SpreadContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.AspectRatio {
  position: relative; /* Establishes a new positioning context */
  width: 100%; /* Adjust based on your layout needs */
}

.image-fitted {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; /* Scales the image down to fit the container while preserving aspect ratio */
  border-radius: 12px;
}

/* General */

.Button {
  transition: background-color 150ms ease;
  transition: border-color 150ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  font-size: 1.5rem;
  font-weight: 500;
  height: 3rem;
  cursor: pointer;
  @media (max-width: 768px) {
    font-size: 0.75rem;
    height: 2rem;
  }
}
.Button * {
  cursor: pointer;
}

.CheckBox {
  width: 25px;
  height: 25px;
  display: flex;
  cursor: pointer;
}

.Input {
  transition: background-color 150ms ease;
  transition: border-color 150ms ease;
  flex: 1;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 5px 10px;
  font-size: 1.25rem;
  line-height: 1;
  height: 2rem;
  min-width: 10rem;
  @media (max-width: 768px) {
    font-size: 0.9rem;
    height: 1.5rem;
    min-width: 5rem;
  }
}

.DisplayCard {
  overflow: hidden;
  padding: 0.7rem 1rem;
  margin: 0.5rem 0.8rem;
  --scrollbar-size: 12px;
  flex-grow: 1; /* Grow to fill available space */
}

.icon {
  min-width: 1rem;
  text-align: left;

  div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.item-desc {
  display: flex;
  justify-content: space-between;
}

/* Table */

.Table {
  width: 100%;

  .horizontalContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .left {
    text-align: left;
    justify-content: left;
  }

  .right {
    text-align: right;
    justify-content: right;
  }

  .icon {
    width: 0.3rem;
    min-width: 0.2rem;
  }

  .date {
    min-width: 11rem;
  }

  .time {
    min-width: 6.5rem;
  }

  .balance {
    min-width: 6rem;
  }

  .amount {
    min-width: 4rem;
  }

  .name {
    min-width: 8.5rem;
  }

  @media (max-width: 768px) {
    .date {
      min-width: 5.5rem;
    }

    .time {
      min-width: 3.25rem;
    }

    .balance {
      min-width: 5rem;
    }

    .amount {
      min-width: 3rem;
    }

    .name {
      min-width: 5rem;
    }
  }
}

.table-entry {
  justify-content: space-evenly; /* or space-around, space-evenly, etc. */
  margin: 0.4rem 0;
  font-size: 1rem;
  height: 2.7rem;
  min-width: 21rem;
  width: 100%;
  @media (max-width: 768px) {
    font-size: 0.75rem;
  }
}
.table-entry th {
  padding: 0 0.7rem;
}

.tableSearch {
  display: flex;
  padding: 0 0.7rem;
  margin: 0.7rem 0;
  align-items: center;

  .Button {
    margin-left: 0.7rem;
  }
}

/* Scrollbar */
.Scrollbar {
  display: flex;
  user-select: none;
  touch-action: none;
  padding: 2px;
  cursor: pointer;
}
.Scrollbar[data-orientation="vertical"] {
  width: var(--scrollbar-size);
}
.Scrollbar[data-orientation="horizontal"] {
  flex-direction: column;
  height: var(--scrollbar-size);
}

.ScrollbarThumb {
  flex: 1;
  position: relative;
}
/* increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
.ScrollbarThumb::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  min-width: 44px;
  min-height: 44px;
}

/* Separator */
.Separator {
  background-color: var(--primary);
}
.Separator[data-orientation="horizontal"] {
  height: 2px;
  margin: 0.6rem 0;
}
.Separator[data-orientation="vertical"] {
  width: 2px;
  margin: 0 1rem;
}

/* Switch */
.SwitchRoot {
  transition: background-color 150ms ease;
  transition: border-color 150ms ease;
  position: relative;
  width: 2.3rem;
  height: 1.4rem;
  border-radius: 9999px;
  cursor: pointer;
}
.SwitchThumb {
  transition: background-color 150ms ease;
  transition: border-color 150ms ease;
  cursor: pointer;
  display: block;
  width: 14px;
  height: 14px;
  transition: transform 200ms;
  will-change: transform;
  transform: translateX(4px);
  border-radius: 9999px;
}
.SwitchThumb[data-state="checked"] {
  transform: translateX(19px);
}

/* Dialog */

.DialogOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  overflow-y: auto;
  inset: 0;
  z-index: 2;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  border-radius: 12px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 50rem;
  max-height: 85vh;
  padding: 25px;
  z-index: 2;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.DialogContent:focus {
  outline: none;
}

.DialogTitle {
  margin: 0;
  font-weight: 500;
  font-size: 3rem;
  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

.DialogDescription {
  margin: 10px 0 10px;
  font-size: 1rem;
  line-height: 1.5;
  --scrollbar-size: 12px;
}

.Fieldset {
  width: 100%;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Pagination */
.PageBar {
  display: flex;
  padding-bottom: 1rem;
  width: 100%;
  justify-content: center;
}
.PageButton {
  text-align: center;
  cursor: pointer;
  margin: 0 0.5rem;
  padding: 0.3rem;
  min-width: 2.5rem;
  transition: background-color 150ms ease;
  transition: border-color 150ms ease;
}

/*
Progress
*/

.progress-bar {
  width: 100%;
  height: 100%; /* Adjust the height as needed */
  overflow: hidden;
  position: relative;
}

.progress-bar-background {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.progress-bar-foreground {
  height: 100%;
  background-size: cover;
  transition: width 660ms cubic-bezier(0.65, 0, 0.35, 1);
}

/* Font stuff */

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}

/* Theme-Template */

body {
  background: var(--background);
}

div {
  color: var(--primary);
}

a:visited {
  color: var(--primary);
}

#tab-changer {
  background-color: var(--shadow);
  box-shadow: 0 2px 18px var(--shadow);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

#main-search {
  color: var(--element-bg);
  background-color: var(--shadow);
  box-shadow: 0 2px 18px var(--shadow);
  border: 4px solid var(--shadow);
  border-radius: 12px;
}
#main-search:focus {
  border: 4px dashed var(--shadow);
}
#main-search::selection {
  background-color: var(--shadow);
  color: var(--element-bg);
}

.Button {
  background-color: var(--element-bg);
  color: var(--primary);
  border: 4px solid var(--element-border);
  box-shadow: 0 2px 4px var(--shadow);
  border-radius: 12px;
}
.Button:hover {
  border: 4px solid var(--on-hover);
}
.Button:active {
  background-color: var(--on-active);
  box-shadow: 0 0 0 2px var(--on-click-border);
}

.PageButton {
  background-color: var(--element-bg);
  color: var(--primary);
  border: 4px solid var(--element-border);
  box-shadow: 0 2px 4px var(--shadow);
  border-radius: 10000px;
}
.PageButton:hover {
  border: 4px solid var(--on-hover);
}
.PageButton:active {
  background-color: var(--on-active);
  box-shadow: 0 0 0 2px var(--shadow);
}

.CheckBox {
  background-color: var(--element-bg);
  border-radius: 100%;
  box-shadow: 0 2px 10px var(--shadow);
  border: 2px solid var(--shadow);
}
.CheckBox:hover {
  background-color: var(--on-hover);
}
.CheckBox:active {
  background-color: var(--on-active);
  box-shadow: 0 0 0 2px var(--shadow);
}

.Input {
  color: var(--primary);
  border: 3px solid var(--on-hover);
}
.Input:focus {
  border: 3px solid var(--primary);
}

.DisplayCard {
  border: 2px solid var(--primary);
  background-color: var(--element-bg);
  box-shadow: 0 2px 10px var(--shadow);
  border-radius: 12px;
}

.Scrollbar {
  background: var(--shadow);
}
.ScrollbarThumb {
  background: var(--primary);
  border-radius: 12px;
}

/*
Invoice
*/

.Table {
  background-color: var(--table);
  color: var(--primary);
  border-radius: 12px;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid var(--tr-split);
  }
  tr:last-child {
    border-bottom: none;
  }
}

/*
Tabs
*/

.TabsTrigger {
  background-color: var(--element-bg);
  color: var(--primary);
  border: 2px solid var(--element-bg);
  background-clip: border-box;
  margin: 4px 0;
  border-bottom: 4px solid var(--element-bg);
}
.TabsTrigger:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.TabsTrigger:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.TabsTrigger:hover {
  border: 2px solid var(--on-hover);
  border-bottom: 4px solid var(--on-hover);
}
.TabsTrigger[data-state="active"] {
  color: var(--primary);
  border-bottom: 4px solid currentColor;
}
.TabsTrigger:active {
  box-shadow: 0 0 0 2px var(--on-click-border);
}

/*
Switch
*/

.SwitchRoot {
  background-color: var(--element-bg);
  box-shadow: 0 2px 10px var(--shadow);
  -webkit-tap-highlight-color: var(--shadow);
  border: 3px solid var(--on-hover);
}
.SwitchRoot[data-state="checked"] {
  background-color: var(--primary);
  border: 3px solid var(--primary);
}
.SwitchRoot:hover {
  background-color: var(--on-hover);
  .SwitchThumb {
    background-color: var(--element-bg);
  }
}
.SwitchThumb {
  background-color: var(--element-bg);
}
.SwitchThumb[data-state="unchecked"] {
  background-color: var(--on-hover);
}

/*
Dialog
*/
.DialogOverlay {
  background-color: var(--black-a9);
}

.DialogContent {
  background-color: var(--element-bg);
  box-shadow: hsl(206 22% 7% / 35%) 0 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0 10px 20px -15px;
}

.DialogTitle {
  color: var(--primary);
}

/*
Progress
*/
.progress-bar {
  border-radius: 99999px;
}

.progress-bar-background {
  background: var(--secondary);
}

.progress-bar-foreground {
  background-color: var(--primary);
}

/*
Colors
*/

.Selected {
  color: var(--primary);
  border-color: var(--primary);
}
