@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css";
/*add new radix-ui colors used for themes*/

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  cursor: default;
}

/* reset */
button,
fieldset,
input {
  all: unset;
}

body {
  margin: 0 0;
  height: 100vh;
}

#root {
  height: 100%;
}

.Main {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem 1rem;
  margin: 0 auto;
  height: 100%;

  @media (max-width: 768px) {
    font-size: .7rem;
    padding: 0;
  }
}

.MainBody {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  @media (max-width: 768px) {
    font-size: .7rem;
  }
}

.MainBody > * {
  width: 100%;
  flex-grow: 1;
}

/*standard*/

h1 {
  font-size: 6rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 4rem 0;
  font-weight: 500;

  @media (max-width: 768px) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 4rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0.3rem 0;
  font-weight: 500;
  
  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

h3 {
  font-size: 2rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0.2rem 0;
  font-weight: 400;
  
  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

svg {
  margin: 5px;
}

a {
  cursor: pointer;
}

/* DataInfo */
.site-data-info {
  position: fixed;
  bottom: 4px;
  right: 4px;
  z-index: 1;
  padding: 6px;
  font-size: 12px;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10000px;

  @media (max-width: 768px) {
    bottom: 2px;
    right: 2px;
    padding: 3px;
    font-size: 8px;
  }
}

/* Change background color on hover */
.site-data-info:hover {
  background-color: black;
  color: white;
}

/* Search */

#MainIcon {
  height: 5rem;
  padding: 0 1rem;
}

#main-search {
  margin: 1rem auto;
  padding: 0 1rem;
  justify-content: center;
  display: flex;
  width: 80vw;
  min-width: 10%;
  max-width: 100%;
  font-size: 2rem;
  height: 4rem;
}

/* Login */

#login {
  justify-content: right;
  flex-grow: 1;
  display: flex;
  align-items: center;
}
#login-button {
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}

/* Checkout */

#Checkout {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

#Checkout-Item {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  width: 50rem;

  @media screen and (max-height: 1500px) {
    max-width: 70vh;
  }

  @media screen and (max-height: 1200px) {
    max-width: 60vh;
  }

  @media screen and (max-height: 800px) {
    max-width: 50vh;
  }

  @media screen and (max-height: 650px) {
    max-width: 40vh;
  }
  @media (max-width: 768px) {
    font-size: 1rem;
  }
  @media screen and (max-height: 550px) {
    max-width: 30vh;
  }
}

#Checkout-Complete {
  margin: 1rem;
  width: 50vw;
  border-radius: 10000px;
}

.CheckoutCounter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 50vw;
}
.CheckoutCounter > div {
  width: 3.5rem;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 768px) {
    font-size: 2rem;
  }
}
.CheckoutCounter > Button {
  border-radius: 10000px;
}

/* UserSummary */
.UserSummary {
  max-height: 30rem;
  display: flex;
  margin: 0 auto;
  max-width: 40rem;
  width: 100%;
}
.UserSummary .Balance {
  font-size: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
  @media screen and (max-width: 350px) {
    font-size: 1rem;
  }
}

/* Tabs */

#tab-changer {
  display: flex;
  margin-bottom: 0.6rem;
  padding: 1rem;
  position: sticky;
  z-index: 1;
  top: 0;
  align-items: center;
  justify-content: left;
  width: 100%;

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 0.5rem;
  }
}

#tab-changer > img {
  padding: .25rem;
  height: 100%;
}

.TabsList {
  justify-content: center;
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  height: auto;
  padding: 0;
  margin: 0;
}

.TabsTrigger {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  transition: background-color 0.2s;
}
.TabsTrigger * {
  cursor: pointer;
}
.TabsTrigger:active {
  position: relative;
}


/* Alignments */
.SmallGridContainer {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(14rem, 10fr)
  ); /* Adjust the minmax values as needed */
  grid-auto-rows: min-content;
  gap: 1rem;
  padding: 20px 0;
}

.GridContainer {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(auto-fill, minmax(25.5rem, 1fr));

  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  }
}

.SpreadContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.AspectRatio {
  display: flex;
  place-items: center;
  height: 100%;
}

/* General */

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  font-size: 1.5rem;
  font-weight: 500;
  height: 3rem;
  cursor: pointer;
  @media (max-width: 768px) {
    font-size: .75rem;
    height: 2rem;
  }
}
.Button * {
  cursor: pointer;
}

.CheckBox {
  width: 25px;
  height: 25px;
  display: flex;
  cursor: pointer;

  * {
    padding: auto;
    margin: auto;
  }
}

.Input {
  flex: 1;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 1.25rem;
  line-height: 1;
  height: 2rem;
  min-width: 10rem;
  @media (max-width: 768px) {
    font-size: .9rem;
    height: 1.5rem;
    min-width: 5rem;
  }
}

.DisplayCard {
  overflow: hidden;
  padding: 0.7rem 1rem;
  margin: 0.5rem 0.8rem;
  --scrollbar-size: 12px;
  flex-grow: 1; /* Grow to fill available space */
}

.icon {
  min-width: 1rem;
  width: 10%;
  text-align: left;

  div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

/* Table */

.Table {
  width: 100%;

  .horizontalContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .left {
    text-align: left;
    justify-content: left;
  }

  .right {
    text-align: right;
    justify-content: right;
  }

  .icon {
    width: 0.3rem;
    min-width: 0.2rem;
  }

  .date {
    min-width: 11rem;
  }

  .time {
    min-width: 6.5rem;
  }

  .balance {
    min-width: 6rem;
  }

  .amount {
    min-width: 4rem;
  }

  .name {
    min-width: 8.5rem;
  }

  @media (max-width: 768px) {
    .date {
      min-width: 5.5rem;
    }
  
    .time {
      min-width: 3.25rem;
    }
  
    .balance {
      min-width: 5rem;
    }
  
    .amount {
      min-width: 3rem;
    }
  
    .name {
      min-width: 5rem;
    }
  }
}

.table-entry {
  justify-content: space-evenly; /* or space-around, space-evenly, etc. */
  margin: 0.4rem 0;
  font-size: 1rem;
  height: 2.7rem;
  min-width: 21rem;
  width: 100%;
  @media (max-width: 768px) {
    font-size: .75rem;
  }
}
.table-entry th {
  padding: 0 0.7rem;
}

.tableSearch {
  display: flex;
  padding: 0 0.7rem;
  margin: 0.7rem 0;
  align-items: center;

  .Button {
    margin-left: 0.7rem;
  }
}

/* Scrollbar */
.Scrollbar {
  display: flex;
  user-select: none;
  touch-action: none;
  padding: 2px;
  cursor: pointer;
}
.Scrollbar[data-orientation="vertical"] {
  width: var(--scrollbar-size);
}
.Scrollbar[data-orientation="horizontal"] {
  flex-direction: column;
  height: var(--scrollbar-size);
}

.ScrollbarThumb {
  flex: 1;
  position: relative;
}
/* increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
.ScrollbarThumb::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  min-width: 44px;
  min-height: 44px;
}

/* Separato */
.Separator {
  background-color: var(--violet-11);
}
.Separator[data-orientation="horizontal"] {
  height: 2px;
  margin: 0.6rem 0;
}
.Separator[data-orientation="vertical"] {
  width: 2px;
  margin: 0 1rem;
}

/* Switch */
.SwitchRoot {
  position: relative;
  width: 2.3rem;
  height: 1.4rem;
  border-radius: 9999px;
}
.SwitchThumb {
  display: block;
  width: 1rem;
  height: 1rem;
  transition: transform 100ms;
  will-change: transform;
  transform: translateX(4px);
  border-radius: 9999px;
}
.SwitchThumb[data-state="checked"] {
  transform: translateX(19px);
}

/* Dialog */

.DialogOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  overflow-y: auto;
  inset: 0;
  z-index: 2;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  border-radius: 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 50rem;
  max-height: 85vh;
  padding: 25px;
  z-index: 2;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.DialogContent:focus {
  outline: none;
}

.DialogTitle {
  margin: 0;
  font-weight: 500;
  font-size: 3rem;
  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

.DialogDescription {
  margin: 10px 0 10px;
  font-size: 1rem;
  line-height: 1.5;
  --scrollbar-size: 12px;
}

.Fieldset {
  width: 100%;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Pagination */
.PageBar {
  display: flex;
  padding-bottom: 1rem;
  width: 100%;
  justify-content: center;
}
.PageButton {
  text-align: center;
  cursor: pointer;
  margin: 0 0.5rem;
  padding: 0.3rem;
  min-width: 2.5rem;
}


/*
Progress
*/

.progress-bar {
  width: 100%;
  height: 100%; /* Adjust the height as needed */
  overflow: hidden;
  position: relative;
}

.progress-bar-background {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.progress-bar-foreground {
  height: 100%;
  background-size: cover;
  transition: width 660ms cubic-bezier(0.65, 0, 0.35, 1);
}

/* Font stuff */

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: bold;
}
