@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css";
/*add new radix-ui colors used for themes*/

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  cursor: default;
}

/* reset */
button,
fieldset,
input {
  all: unset;
}

body {
  margin: 0 0rem;
}

.Main {
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  padding: 0 1rem;
  margin: 0 auto;
}

h1 {
  font-size: 6rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 4rem 0;
}

h2 {
  font-size: 4rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0.3rem 0;
}

h3 {
  font-size: 2rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0.2rem 0;
}

svg {
  margin: 5px;
}

#CheckoutBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  margin-top: 2rem;
  font-size: 4rem;
}
#CheckoutBar Button{
  padding: .7rem;
}
.CheckoutCounter {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
}
.CheckoutCounter > div {
  width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.CheckoutCounter > Button {
  border-radius: 10000px;
}

#SearchTitle {
  height: 5rem;
  padding: 0 1rem;
}

#search {
  margin: 1rem auto;
  padding: 0 1rem;
  justify-content: center;
  display: flex;
  width: 80vw;
  min-width: 10%;
  max-width: 100%;
  font-size: 2rem;
  height: 4rem;
}

.SearchInput {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  padding: 0 10px;
  height: 35px;
  line-height: 1;
  cursor: pointer;
}

/*
History
*/

.history-container {
  overflow: hidden;
  max-width: 30rem;
}

.history-entry {
  display: flex;
  table-layout: fixed; /* Fixed table layout */
  justify-content: space-evenly; /* or space-around, space-evenly, etc. */
  margin: 0.4rem 0;
  font-size: 1rem;
  height: 2.7rem;
  min-width: 21em;
  width: 100%;
}
.history-entry th {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0.8rem;
  width: 20%;
  max-width: 5rem;
}
.history-entry th.last {
  justify-content: flex-end;
}
table {
  width: 100%;
}

/*
UserSummary
*/
.UserSummary {
  max-height: 30rem;
  display: flex;
  margin: 0 auto;
  max-width: 40rem;
  width: 100%;
}
.UserSummary .Balance {
  font-size: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
  @media screen and (max-width: 350px) {
    font-size: 1rem;
  }
}

/*
Tabs
*/

#tab-changer {
  display: flex;
  margin-bottom: 0.6rem;
  padding: 1rem;
  position: sticky;
  top: 0;
}

#tab-changer > img {
  margin-right: 0.6rem;
  height: 2.8rem;
}

.TabsRoot {
  display: flex;
  flex-direction: column;
  width: 13rem;
}

.TabsList {
  flex-shrink: 0;
  display: flex;
}

.TabsTrigger {
  font-family: inherit;
  padding: 0 20px;
  height: 2.8rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 1;
  user-select: none;
  cursor: pointer;
}
.TabsTrigger * {
  cursor: pointer;
}

.TabsTrigger:active {
  position: relative;
}

#login {
  justify-content: right;
  width: 100%;
  display: flex;
  align-items: center;
}
#login-button {
  align-items: center;  
  padding: 0 10px;
  height: 100%;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}
#login-button * {
  cursor: pointer;
}
#login svg{
  margin: 0;
}

/*
General
*/

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 500;
  height: 3rem;
  cursor: pointer;
}
.Button * {
  cursor: pointer;
}

.Input {
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 15px;
  line-height: 1;
  height: 35px;
}

.DisplayCard {
  overflow: hidden;
  padding: 0.7rem 1rem;
  margin: 0.5rem 0.8rem;
  --scrollbar-size: 12px;
  flex-grow: 1; /* Grow to fill available space */
}

.SelectionContainer {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(14rem, 10fr)
  ); /* Adjust the minmax values as needed */
  grid-auto-rows: auto;
  gap: 1rem;
  padding: 20px 0;
  max-width: 1000%;
}

.CardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25.5rem, 1fr));
  max-width: 100%;
}

.SpreadContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.AspectRatio {
  display: flex;
  place-items: center;
  height: 100%;
}

.Scrollbar {
  display: flex;
  /* ensures no selection */
  user-select: none;
  /* disable browser handling of all panning and zooming gestures on touch devices */
  touch-action: none;
  padding: 2px;
  cursor: pointer;
}
.Scrollbar[data-orientation="vertical"] {
  width: var(--scrollbar-size);
}
.Scrollbar[data-orientation="horizontal"] {
  flex-direction: column;
  height: var(--scrollbar-size);
}

.ScrollbarThumb {
  flex: 1;
  position: relative;
}
/* increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
.ScrollbarThumb::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  min-width: 44px;
  min-height: 44px;
}

.Separator {
  background-color: var(--violet-11);
}
.Separator[data-orientation="horizontal"] {
  height: 2px;
  margin: 0.6rem 0;
}
.Separator[data-orientation="vertical"] {
  width: 2px;
  margin: 0 1rem;
}

.SwitchRoot {
  position: relative;
  width: 2.3rem;
  height: 1.4rem;
  border-radius: 9999px;
}
.SwitchThumb {
  display: block;
  width: 1rem;
  height: 1rem;
  transition: transform 100ms;
  will-change: transform;
  transform: translateX(4px);
  border-radius: 9999px;
}
.SwitchThumb[data-state="checked"] {
  transform: translateX(19px);
}

.DialogOverlay {
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  border-radius: 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.DialogContent:focus {
  outline: none;
}

.DialogTitle {
  margin: 0;
  font-weight: 500;
  font-size: 3rem;
}

.DialogDescription {
  margin: 10px 0 10px;
  font-size: 1rem;
  line-height: 1.5;
}

.DialogClose {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  width: 100%;
}

.Fieldset {
  width: 100%;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* 
Font stuff
*/

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: bold;
}

.thin {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: bold;
}
